@import "partials/variables"; 
@import "partials/reset"; 
@import "partials/mixins";

/* page */
body,html{

    margin-top:50px;
    height: calc(100% - 50px);
    background-color: #E7E7E7;
}

/* grid container */
.grid-container{  

    display: grid;
    align-items: center; /* vertical alignment */
    justify-items: center; /* horizontal alignment */
}

/* first grid item */
#content{

    display: grid;
    grid-template-columns: 1fr;
    row-gap: 50px;
    width:600px;
    font-family: 'Raleway', sans-serif;
    color: $primary-color;
}

header{
    h1{
        font-size: 25px;
        margin: 0px 0px 0px 10px;
    }
}

#drum-machine{

    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid $primary-color;
    border-radius: $border-radius;
    background-color: #333;

    #drum-pads{

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 10px;
        font-size: 28px;
        height: 320px;
        width: 320px;
        padding: 10px 0px 10px 10px;
        
        div {

            text-align: center;
            line-height: 100px;
            border-radius: 10px;
            background: $yellow-darken;
            color:white;
            box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25), inset 0 -1px 0 hsla(0,0%,100%,.05), 0 1px 0 hsla(0,0%,0%,.15), 0 0 1px hsla(0,0%,0%,.1); 
            
            &:hover{
                cursor: pointer;
            }

            &:active{

                color: $primary-color;
                font-size: 35px;
                background: $yellow-lighten-1;
            }
            
            &::selection {
                background: transparent;
            }
        }
    }
}

// current pad style when a key is pressed
.isActive{

    background: $yellow-lighten-1 !important;
    
    div {
        color: $primary-color !important;
        font-size: 35px !important;
    }
}

#controller{

    padding-top: 10px;

    #display{
        
        color:$yellow-lighten-2;
        text-align: center;
        font-size: 22px;

        h2{
            font-size: 20px;
            margin: 10px 0px 0px 0px;
        }
    }
    
    #display h2::selection{
        background: transparent;
    }
}

footer{

    text-align: center;
    @import "partials/drozerah";
}